In [1]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import gmaps
import os

# Import API key
from google_api_keys import g_key

In [2]:
# Study data files
weather_metadata = "../WeatherPy/my_weather_data.csv"

# Read the weather data and the study results
weather_data = pd.read_csv(weather_metadata)

# Combine the data into a single dataset
weatherdf = pd.DataFrame(weather_data)
weatherdf.head()

,Unnamed: 0,City,Latitude,Longitude,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
0,0,Touros,-5.1989,-35.4608,88.90,74,0,11.54,BR,1584468000
1,1,Cape Town,-33.9258,18.4232,67.91,78,13,10.33,ZA,1584468000
2,2,Bac Lieu,9.2850,105.7244,76.55,87,88,3.74,VN,1584468000
3,3,Fortuna,40.5982,-124.1573,44.85,97,100,1.36,US,1584468000
4,4,Jamestown,42.0970,-79.2353,41.56,79,100,10.80,US,1584468000

In [3]:
# Configure gmaps with API key
gmaps.configure(api_key='AIzaSyDZB08_eZPaep8Plu6oRtwHCkPY9Y25orE')

In [4]:
# Store 'Lat' and 'Lng' into  locations 
locations = weatherdf[["Latitude", "Longitude"]].astype(float)

#weatherdf = weatherdf.dropna()

hum_rate = weatherdf["Humidity"].astype(float)

In [5]:
# Create a poverty Heatmap layer
fig = gmaps.figure(center=(48.0, 0.0), zoom_level=2)

heat_layer = gmaps.heatmap_layer(locations, weights=hum_rate, 
                                 dissipating=False, max_intensity=100,
                                 point_radius = 1, opacity=1)

fig.add_layer(heat_layer)

plt.savefig("vacationheatmap.png")
fig

Figure(layout=FigureLayout(height='420px'))